.NavBar {
  width: 100%;
  height: 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  a {
    color: black;
  }
  .tabs {
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    text-align: center;
    .tab {
      flex-grow: 1;
    }
  }
  .info {
    flex-grow: 1;
    position: absolute;
    right: 0;
  }
}

.active {
  font-weight: bold;
}
